.content {

	@media screen and (min-width: $breakpoint-md) {
		margin-top: $header-height;
		padding-right: $space-3;
		padding-left:  $space-3;
	}
}

.content--right {


	@media screen and (min-width: $breakpoint-sm) {
		margin-top: $space-4;
		padding-left:  $space-3;
		padding-right: $space-3;
	}
	
	@media screen and (min-width: $breakpoint-md) {
		padding-right: $space-3;
		padding-left:  $space-3;

	}
}

.content--left {

	@media screen and (min-width: $breakpoint-sm) {
		padding-left:  $space-3;
		padding-right: $space-3;
	}

	@media screen and (min-width: $breakpoint-md) {
		padding-right: $space-3;
		padding-left:  $space-3;
	}
}