html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-font-family;
	line-height: $line-height-4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: palette(black, base);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $bold-font-weight;
}

strong,
.strong { font-weight: $bold-font-weight }

em, .em,
i, .i { font-style: italic }

a {
	text-decoration: none;
	background: $slime;
	color: $black;
}

table {
	width: 100%;
	max-width: 100%;
}

th { 
	vertical-align: bottom; 
	text-align: left;
}	

img {
	max-width: 100%;
	vertical-align: middle;
}

pre,
code,
kbd,
samp {
	font-family: $code-font-family;
}

pre {
	margin-top: 0;
	overflow: auto;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sub { bottom: -0.25em }
sup { top: -0.5em }


hr {
	border: 0;
	height: 1px;
}

input {
	font-family: inherit;
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	background: none;
	appearance: none;
	border: 0;
	padding: 0;
	border-radius: 0;
}