.date {
	font-size: $h3;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: $h1;
	}
}

.has-passed {
	display: inline-block;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		height: 0;
		padding-bottom: 5%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 480 24'%3E%3Cpath d='M 440.28 20.652C 450.469 20.3487 460.257 21.6631 470.145 23.0786C 473.742 23.5928 480.736 23.8273 479.937 20.652C 478.938 16.6829 478.741 14.6607 474.443 13.1441C 470.145 11.6275 468.045 8.62014 464.252 8.62014C 456.062 7.20463 447.971 6.39575 439.681 7.0024C 429.293 7.71016 418.906 6.29464 408.618 5.48577C 390.239 4.07026 371.961 2.75586 353.482 3.16029C 341.696 3.46362 329.91 3.16028 318.124 3.26139C 304.24 3.46361 290.456 3.2614 276.573 4.87913C 263.188 6.39576 249.604 6.49687 236.12 7.20463C 210.85 8.51904 185.579 7.20463 160.209 9.12569C 142.33 10.44 124.251 10.9457 106.272 9.73234L 106.267 9.73193C 89.3886 8.51876 72.5103 7.30558 55.632 5.99132C 50.7378 5.68799 45.9434 5.28357 41.149 4.67692C 29.7624 3.2614 18.4756 1.64366 7.18889 0.127039C 4.59193 -0.277394 2.29462 0.228136 0.79638 2.45252C -0.701862 4.5758 -0.00267407 7.60905 2.19475 10.0357C 4.09252 12.26 6.19005 13.7766 9.28642 13.8777C 11.2841 13.8777 13.3816 13.9789 15.4791 14.2823C 28.8634 16.1022 42.2477 18.1244 55.632 19.8432C 62.1244 20.6521 68.7167 20.8543 75.309 21.3599C 81.9012 21.7643 88.4935 21.9664 94.9859 22.5731C 113.664 24.1908 132.342 24.3931 151.12 23.382C 159.71 22.8765 168.399 22.3708 176.989 22.1686C 197.066 21.7642 217.142 21.8653 237.219 21.0564C 253.1 20.5509 268.882 18.9332 284.763 17.9221C 293.453 17.4165 302.043 17.2143 310.732 17.1132C 319.722 16.911 328.711 17.1132 337.701 17.0121C 339.798 17.0121 341.896 16.6077 343.894 16.7088L 343.902 16.709C 353.288 17.0123 362.674 17.3155 371.961 17.6187C 380.65 17.9221 389.44 17.5176 398.03 18.5287C 412.114 20.1465 426.197 21.0564 440.28 20.652Z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		vertical-align: -50%;
	}
}