.excerpt {
	display: block;
	position: relative;

	
	&:hover,
	&:focus,
	&:active {
		.excerpt__img:after {
			box-shadow: inset 0 0 0 6px $color-secondary;
		}
	}
}

.excerpt__img {
	&:after {
		content: '';
		display: block;
		position: absolute;
		width:  100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}