.heart {
	max-width: 28px;
	fill: $color-secondary;
	animation-name: heart;
	animation-timing-function: steps(1, end);
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

@keyframes heart {
	0% {
		fill: $color-primary;
	}

	50% {
		fill: $color-secondary;
	}
}