.img-container {
	position: relative;
	padding-bottom: 65.625%;
	background-image: $container-background-url;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
}