.nav__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__item {
	display: inline-flex;
}

.nav__link {
	padding: $space-1 $space-2;
	font-weight: $bold-font-weight;

	&:hover {
		color: $color-secondary;
		border-radius: 3px;
	}
}