.header {
	display: flex;
	min-height: $header-height;
	align-items: center;
	padding-top:    $space-3;
	padding-bottom: $space-3;

	@media screen and (min-width: $breakpoint-md) {
		position: fixed;
	}
}