.project {
	position: relative;

	@media screen and (min-width: $breakpoint-md) {
		margin-bottom: $space-4;

		&:hover {
			.project__description {
				opacity: 1;
			}
		}
	}
}

.project__img-container {
	position: relative;
	background: url('../img/slime.gif');

	@media screen and (min-width: $breakpoint-md) {
		width: 100%;
		height: 0;
	}
}

.project__img {
	width: 100%;

	@media screen and (min-width: $breakpoint-md) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.project__description {
	padding: $space-2;

	@media screen and (min-width: $breakpoint-md) {
		position: absolute;
		bottom: 0;
		opacity: 0;
		transition: opacity .1s ease-in-out;
	}
}


@media screen and (min-width: $breakpoint-md) {
	.img--1x15   { padding-bottom: 150% }
	.img--1x1    { padding-bottom: 100% }
	.img--1x1625 { padding-bottom: 62.5% }
}
